<!doctype html>
<html lang="en">
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>Assinantes!</title>
    </head>
    <body>
    
    <div id="app">    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Assinantes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="ranking">Ranking</a>
                <a class="nav-item nav-link" href="mensagem">Enviar Mensagem</a>
            
            </div>
        </div>
    </nav>
      <br><br>
      <div class="container">  
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Mensagem</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Enviar Mesnagem</h6>                        
                        </div>
                    </div>
                    <br>
                    <form v-on:submit.prevent="enviarMensagem()">        
                        <div class="row">    
                            <div class="form-group col-md-6">
                                <label for="exampleFormControlSelect1">Usuário remete</label>
                                <select v-model="selected" @change="onChange()" class="form-control" id="remete" required>
                                    <option v-for='usuario in usuarios' v-bind:value="usuario.id">{{usuario.nome}}</option>                                    
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleFormControlSelect1">Usuário destinatário</label>
                                <select v-model="selectedDest" class="form-control" id="destinatario" required>                                                                        
                                    <option v-for='usuario in usuarios' v-model:value="usuario.id">{{usuario.nome}}</option>                                    
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Mensagem</label>
                            <textarea 
                                v-model="message" 
                                class="form-control" 
                                id="exampleFormControlTextarea1" 
                                rows="3" 
                                v-bind:maxlength="maxMensage" 
                                required>
                            </textarea>
                        </div>
                        <button type="submit" class="btn btn-success mb-2">Enviar Mensagem</button>
                    </form>    
                </div>
            </div>
        </div>    
    </div>    

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            var app = new Vue({

                el: '#app',
                data: {
                    message: '',
                    usuarios: [],
                    selected : 'Selecione',
                    selectedDest: 'Selecione',
                    maxMensage: 50,
                    user: null,
                    url: 'https://assinantes.herokuapp.com'
                },

                created() {
                    this.getUsers()
                },  

                methods: {
                    async getUsers(){
                    this.usuarios = await axios
                                        .get(this.url+'/assinantes')
                                        .then( response => {                                  
                                            return response.data 
                                        })                                  
                    },

                    async getUser(id){
                    this.user =  await axios
                                        .get(this.url+'/assinantes/'+id)
                                        .then( response => {                                  
                                            return response.data 
                                        })                                  
                    },

                    async enviarMensagem(){
                        this.user =  await axios
                                        .post(this.url+'/user/mensagem', {id: this.selected, menssagem: this.message})
                                        .then( response => {           
                                            alert('Mensagem enviada')                       
                                            return response.data 
                                        })         
                    },

                    async onChange(){
                        await this.getUser(this.selected)
                        
                        if(this.user.flg_tipo = 'VIP'){
                            this.maxMensage = 200
                        }else if(this.user.flg_tipo = 'PREMIUM'){
                            this.maxMensage = 150
                        }
                    }
                },

            })
        </script>
    </body>
</html>